@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<br /><br />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br /><br />


    <div>
            <a asp-page="/DeviceReturn/Index" class="btn btn-outline-primary">
                <i class="bi bi-tablet-fill"></i>&nbsp;New Smart Device Return
            </a>
        </div>
</div>
