@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}
<br /><br />
<div class="text-center">
<h1>@ViewData["Title"]</h1>
<br /><br />
<p>Built using ASP.NET Core, Razor Pages and SQL Server</p>
<br /><br />
<p>Created by Kiran Thapa</p>
</div>